html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.main-content {
  position: relative;
}

/* Begin Transition Animations */
.slide-exit-active {
  transition: 300ms ease-in-out;
  transform: translateX(-110%);
}

.slide-enter {
  transform: translateX(110%);
}

.slide-enter-active {
  transition: 300ms ease-in-out;
  transform: translateX(0) !important;
}

.slide-right .slide-enter {
  transform: translateX(-110%);
}

.slide-right .slide-exit-active {
  transform: translateX(110%);
}
/* End Transition Animations */
