html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.main-content {
  position: relative;
}

.bg-darkish {
  background-color: #464e57 !important;
}

/* Begin Transition Animations */
.slide-exit-active {
  transition: 300ms ease-in-out;
  transform: translateX(-110%);
}

.slide-enter {
  transform: translateX(110%);
}

.slide-enter-active {
  transition: 300ms ease-in-out;
  transform: translateX(0) !important;
}

.slide-right .slide-enter {
  transform: translateX(-110%);
}

.slide-right .slide-exit-active {
  transform: translateX(110%);
}
/* End Transition Animations */

/* Begin Theme Switch Transitions */
.bg-dark,
.bg-darkish,
.bg-white,
.bg-light,
.bg-secondary {
  transition: all 0.3s ease-in-out;
}
/* End Theme Switch Transitions */
