html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

#root > .content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
}

.fade-exit-active {
  position: absolute;
  transition: 300ms ease-in-out;
  transform: translateX(-150%);
}

.fade-enter {
  transform: translateX(150%);
}

.fade-enter-active {
  transition: 300ms ease-in-out;
  transform: translateX(0);
}
